doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0" )
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    title РумТибет
  body
   header(style=`background-image: url(${require('./images/headerBG.png')})`)
    .container
      .menu
        img.logo(src=require('./images/logo.png'), alt='logo')
        nav
          .exitPopup +
          ul 
            li Главная
            li Про гида
            li Программа тура
            li Стоимость
            li Блог
            li Контакты
        button.headerMenuBtn Консультация
        .popUpOpenBtn 
          span 
          span 
          span 
      .headerWrapper  
        h1 
          | Насладись прогулкой в горах
          br
          | с командой единомышленников    
        .search 
          .searchItem 
            .searchSelect
              select(name="location") 
                option(value="") Локация для тура
                option(value="krichev") Кричев
                option(value="Mogilev") Могилев
            p выберите из списка
          .searchItem 
            .searchSelect.dataSelect 
              p.dataTripTitle Дата похода
              .customDateInput
                p.customInputValue
                .calendar-wrapper
                  .btnWrapper
                    button.btnPrev Предыдущий
                    button.btnNext Следующий
                  .divCal
                .calendar-wrapper
                  .btnWrapper 
                    button.btnPrev.btnPrev2 Предыдущий
                    button.btnNext.btnNext2 Следующий
                  .divCal2
                button.dataBtn Сохранить
            p укажите диапазон
          .searchItem 
            .searchSelect
              select(name="party") 
                option(value="") Участники
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
                option(value="10") 10
                option(value="11") 11
                option(value="12") 12
                option(value="13") 13
                option(value="13") 14
                option(value="15") 15
                option(value="16") 16
                option(value="17") 17
                option(value="18") 18
                option(value="19") 19
                option(value="20") 20
            p минимум 4 человека
          button Найти программу  
        button.mobileBtn Найти программу  
   main 
    section.explore
      .exploreContainer
        .exloreImgContainer 
          img(class='positionAbsolute', src=require('./images/sectionExploreImg/img1.png'), alt='explore')   
          img(src=require('./images/sectionExploreImg/img2.png'), alt='explore')   
        .exploreDescription 
          .exploreDescriptionWrapper
            p.exploreSubtitle о нашем походе
            h2 Исследуйте все горные массивы мира вместе с нами
            p Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.
            button Программа тура 
    section.offer   
      .offerContainer 
        .offerDescriptionWrapper
          p.offerSubtitle наше предложение
          h2.offerTitle Лучшие программы для тебя
          p.offerDescription  Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
          .descriptionProgramms 
            .programmsItem 
              img(src=require('./images/sectionOffer/programms/1.png'), alt='programms')        
              .descriptionWrapper 
                h3 Опытный гид
                p Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
            .programmsItem 
              img(src=require('./images/sectionOffer/programms/2.png'), alt='programms')        
              .descriptionWrapper 
                h3 Безопасный поход
                p Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
            .programmsItem 
              img(src=require('./images/sectionOffer/programms/3.png'), alt='programms')        
              .descriptionWrapper 
                h3 Лояльные цены
                p Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.  
        .offerImg 
          img(src=require('./images/sectionOffer/1.png'), alt='offerImg')
          img(src=require('./images/sectionOffer/2.png'), alt='offerImg')
          img(src=require('./images/sectionOffer/3.png'), alt='offerImg')
          img(src=require('./images/sectionOffer/4.png'), alt='offerImg')
        button Стоимость программы  





